body,
html {
  background: url(https://mcdn.wallpapersafari.com/medium/59/46/bjQ0tO.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: 60px;
  background-color: black;
}
h1 {
  position: absolute;
  float: left;
  padding: 3px;
  margin-left: 2%;
  margin-top: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: darkorange;
}
span {
  color: forestgreen;
}

ul {
  width: auto;
  float: right;
  border-style: solid;
  margin-top: 1px; /*5px*/
  margin-bottom: -1vw;
}

li {
  display: inline-block;
  padding: 15px 15px;
}

a {
  text-align: center;
  color: #1fc833;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1vw;
}

a.hover {
  color: red;
  transition: 0.5s;
}

div.containerfooter {
  bottom: 0;
  margin-top: -15px;
  display: inline-block;
  background-color: palegreen;
  width: 100%;
  height: 200px;
}

.profilepic {
  float: left;
  width: 198px;
  height: auto;
  padding-top: 2px;
  border-radius: 90px;
}
.Headeraboutme {
  font-weight: bolder;
}
.paboutme {
  border: solid;
  padding-left: 13px;
  font-style: italic;
  width: 500px;
  height: 60px;
  margin-left: 206px;
  margin-top: 18px;
}
.detailsBox {
  margin-top: 20px;
  margin-left: 20px;
}
.downpart {
  align-items: center;
  padding-left: 755px;
  padding-top: -5px;
  margin-left: 240px;
}

.dfooter {
  margin-top: 350px;
}

.tab {
  border: 1px solid #1fc833;
  border-collapse: collapse;
  width: 100%;
  height: 20%;
}
th {
  border: solid;
  border-color: black;
  padding-right: 10px;
  color: #1fc833;
  background-color: black;
}
td {
  border: 1px solid black;
  text-align: center;
  background-color: aliceblue;
}
main {
  margin: 10px 20px;
}
td.gray {
  background-color: darkgray;
}
