.mainContent {
  width: 80%;
  margin: 0 auto;
}

.header {
  border: 2px solid red;
}

.content {
  border: 2px solid red;
}

.footer {
  height: 200px;
  border: 2px solid red;
}

.footer ul {
  float: left;
  list-style: none;
}

.footer hr {
  width: 80%;
}

.footerLists {
  width: 80%;
}
li {
  display: inline-block;
  padding: 15px 15px;
}
